<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiabEase</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
        </ul>
    </nav>

    <!-- Hero Section -->
    <section class="home">
        <div class="content">
            <h1>Welcome to DiabEase</h1>
            <h2>Your Diabetes Heath Assistant</h2>
            <p>DiabEase is your Health superhero!</p>
            <a href="/services" class="button colorful-hover">Explore Services</a>
        </div>
    </section>
</body>
</html>