<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insulin Dosage Recommendation</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to your main CSS file -->
</head>
<body>
    <section class="insulin-dosage-result-section">
        <div class="content">
            <h1>Insulin Dosage Recommendation</h1>
            <p class="dosage-result">Predicted Insulin Dosage: <span>{{ result }}</span> units</p>
            <a href="/model2" class="button colorful-hover">Go Back</a>
        </div>
    </section>
</body>
</html>