<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietary Suggestion</title>
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Link to your main CSS file -->
</head>
<body>
    <section class="nutrition-result-section">
        <div class="content">
            <h1>Nutrition Recommendation</h1>
            {% if result != "No suitable diet found." %}
                <div class="nutrition-info">
                    <p><strong>Daily Carbohydrates (g):</strong> {{ result["Daily Carbohydrates (g)"] }}</p>
                    <p><strong>Daily Calories (kcal):</strong> {{ result["Daily Calories (kcal)"] }}</p>
                    <p><strong>Suggested Food Items:</strong> {{ result["Suggested Food Items"] }}</p>
                    <p><strong>Carbohydrates per Serving (g):</strong> {{ result["Carbohydrates per Serving (g)"] }}</p>
                    <p><strong>Calories per Serving (kcal):</strong> {{ result["Calories per Serving (kcal)"] }}</p>
                </div>
            {% else %}
                <p>{{ result }}</p>
            {% endif %}
            <a href="/model1" class="button colorful-hover">Go back</a>
        </div>
    </section>
</body>
</html>
