<!DOCTYPE html>
<html>
<head>
    <title>Nutrition Recommendation</title>
</head>
<body>
    <h1>Nutrition Recommendation</h1>
    {% if result != "No suitable diet found." %}
        <p>Daily Carbohydrates (g): {{ result["Daily Carbohydrates (g)"] }}</p>
        <p>Daily Calories (kcal): {{ result["Daily Calories (kcal)"] }}</p>
        <p>Suggested Food Items: {{ result["Suggested Food Items"] }}</p>
        <p>Carbohydrates per Serving (g): {{ result["Carbohydrates per Serving (g)"] }}</p>
        <p>Calories per Serving (kcal): {{ result["Calories per Serving (kcal)"] }}</p>
    {% else %}
        <p>{{ result }}</p>
    {% endif %}
    <a href="/">Go back</a>
</body>
</html>
